*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    height: 100vh;
    background-image: linear-gradient(to top left, #45caff  , #ff1b6b );
    padding: 2rem;
    font-family: sans-serif;
    position: relative;
    background-size: cover;
}
.container{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 8rem;

}
.hidden{
    display: none;

}

.btns{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.btn-cross{
    display: inline-block;
    /* height: 5rem;
    width: 5rem; */
    cursor: pointer;
    font-size: 3rem;

    position: absolute;
    top: 5%;
    right:5%;
}
.show-modal{
    display: inline-block;
    padding: 1.5rem 3rem;
    font-size: 1.8rem;
    border-radius: 500px;

    border: none;
    background-color: #ccc;
}
.show-modal:hover{
    background-color: #ddd;
    cursor:pointer;
}

.modal-window{
    background-color: rgba(255, 255, 255, 0.856);
    font-size: 2rem;
    width: 50%;
    padding: 3rem;
    
    border-radius: 0.9rem;

    align-self: center;
    justify-self: center;

    z-index: 2;

    position: relative;


}
.modal-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    font-size: 1.7rem;
    border-bottom: 2px solid #999;
}
.model-text{
    line-height: 1.8;
}

.overlay{

    position: absolute;
    top: 0;
    left: 0;

    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.308);
    width: 100%;
    height: 100%;
    
}

.title{
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 3rem;
}


@media (max-width:55em) {
    html{
        font-size: 56.25%;
    }
    .modal-window{
        width: 75%;
    }
}

@media (max-width: 37em){
    html{
        font-size: 50%;
    }
    .modal-window{
        width: 85%;
    }
}